@import url('https://raw.githubusercontent.com/sunaookamishirokodev/SunaookamiShirokoLibrary/main/gridsystem.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    color: white;
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.body {
    box-sizing: border-box;
    overscroll-behavior-block: none;
    height: 1200px;
}

:root {
    /* Biến Color */
    --white-color: #fff;
    --black-color: #000;
    --background-color: #1c1c1c;
    --background-div: #575757;
    --text-color: #e3e3e3;
    --font-size: 62.5%;
}

.main {
    max-width: 1200px;
    margin: 0 auto;

}

.grid {
    /* width: 100%; */
    /* display: block; */
    padding: 0 5vh;
}

@media (max-width: 739px) {
    .grid {
        padding: 0;
    }

    .banner__background--image {
        padding-bottom: 50%;
    }

    .background__background--avatar {
        width: 100%;
        align-items: center;
        flex-direction: column;
        bottom: -220px;
        left: 0;
    }

    .banner__background--avatar--name {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .main .container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 156px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container .container-left {
        min-width: 100%;
        
    }
    .container .container-right {
        min-width: 100%;
    }
    .banner__background .background__background--avatar {
        position: absolute;
        display: flex;
        left: 5px;
        align-items: center;
        flex-direction: column;
        bottom: -192px;
    }
    .banner__background .banner__background--image {
        height: 42vh;
    }

    .banner__background .banner__background--avatar--name {
        font-size: 44px;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        display: flex;
        flex-wrap:  wrap;
        justify-content: center;
    }
    .container-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

}
