@import url('https://raw.githubusercontent.com/sunaookamishirokodev/SunaookamiShirokoLibrary/main/gridsystem.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    color: white;
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.body {
    box-sizing: border-box;
}

:root {
    /* Biến Color */
    --white-color: #fff;
    --black-color: #000;
    --background-color: #1c1c1c;
    --background-div: #575757;
    --text-color: #e3e3e3;
    --font-size: 62.5%;
}

.main {
    max-width: 1200px;
    margin: 0 auto;

}

.grid {
    /* width: 100%; */
    /* display: block; */
    padding: 0 5vh;
}

